<h1>Ici l'index de toutes les Voitures</h1>

  <% @cars.each do |car| %>
    <p><%= car.marque %></p>
    <p><%= car.prix %>€</p>
<%= link_to "Ajoute un Item", new_car_booking_path(car) %>
  <% end %>
